@import '_settings'
@import 'jeet'
@import 'axis'

normalize-css()
base()

html
  background-color #ddd

body
  background-color #ddd
  color #444

#head a
  button()

h2#sitetitle
  image-replace('../img/koonslogofinal.svg', 194px 109px)
  margin 0 auto

#container
  center(960px)

#head
  text-align center
  padding 50px
