@import '_settings'
@import 'jeet'
@import 'axis'

normalize-css()
base()

html
  background-color #444
  
body
  background-color #444
  color #DDD

h2
  h1()

#container
  center(960px)

  
#head
  text-align center
  padding 50px
